body{
    background: url("img/background.jpg") no-repeat fixed center;
}

a{
    color:#a684bc;
}

#container-homepage{
    font-family: Raleway;
}
#navbar-homepage {
    width: auto;
    margin: 0;
    height: 50px;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    background: #a684bc;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffa684bc', endColorstr='#ff9caeda', GradientType=0);
    color: #fff;
}

#navbar-brand-homepage{
    font-size: 26px;
    text-align: left;
    padding-left: 14px;
    color: #fff;
}

#navigation ul li a {
    color: #fff;
}

#navigation ul li a.pull-right {
    color: #a684bc;
}

#navigation ul li a:hover {
    color: #52B3D9;
}

#navigation ul li.active a {
    color: #fff;
}

#navigation ul li.active a:hover {
    color: #2B2B2B;
}


#navigation ul li.active a {
    background-color: #e7e7e7;
}

#btn-vote{
    color: #333;
    background: #fff;
    border-color: #a684bc;
}

#btn-vote:hover{
    color: #fff;
    background: #9caeda;
}

#btn-vote.disabled{
    color: #fff;
    background: #a684bc;
}

.some-margin{
    margin: 15px;
}