<template name="groupItem">
    <div class="post col-lg-3 col-md-3 col-sm-3 col-xm-3 some-margin">
        <a href="#" class="vote btn btn-default {{joinableClass}}" id = "btn-vote">Join now</a>
        <a href="#" class="vote btn btn-default {{leavableClass}}" id = "btn-vote">Leave</a>
        <div class="post-content">
          <h3>{{groupName}}</h3>
          <p class="lead">{{summarize discription}}</p>
          <p>
            {{pluralizeArray members "Member"}},
            created by {{userId}}
          </p>
          {{#if ownGroup}}<a href="{{pathFor 'groupEdit'}}">Edit</a>{{/if}}
        </div>
        <a href="{{pathFor 'groupPage'}}" class="discuss btn btn-default">Details</a>
    </div>
</template>